body{
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}
#main{
  max-width: 600px;
  margin: 0 auto;
  padding: 15px;
  color: Red;
  font-size:30px;
  font-family: arial;
  background-color: white;
  border: 15px solid red;

  height:10%;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;

}
